<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="../../../resources/css/common/common.css" rel="stylesheet">
    <link href="../../../resources/css/component/component.css" rel="stylesheet">
    <link href="../../../resources/css/component/output.css" rel="stylesheet">
    <link href="../../../resources/css/plugin/swiper-bundle.min.css" rel="stylesheet">
    <link href="../../../resources/css/token/krds_tokens.css" rel="stylesheet">
    <script type="text/javascript" src="../../../resources/js/component/ui-script.js"></script>
    <script type="text/javascript" src="../../../resources/js/plugin/swiper-bundle.min.js"></script>
</head>
<body>

</body>
</html>