<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.project.mapper.ReviewMapper">
  
  <select id="read" resultType="com.project.domain.ReviewVO">
  	select bno, img_url as img, title, writer, readcount, regdate, updatedate, content
  	from tbl_performance
  	where bno = #{bno}
  </select>
  
  <insert id="insertSelectKey">
  	<selectKey keyProperty="bno" order="BEFORE" resultType="Long">
  		select seq_performance.nextval from dual
  	</selectKey>
  
  	insert into tbl_performance(bno, img_url, title, writer, content)
  	values(#{bno}, #{img}, #{title}, #{writer}, #{content})
  </insert>
  
  <delete id="delete">
  	delete from tbl_performance where bno = #{bno}
  </delete>
  
  <update id="update">
  	update tbl_performance
  	set img_url = #{img},
  		title = #{title},
  		content = #{content},
  		updatedate = sysdate
  	where bno = #{bno}
  </update>
  
  <update id="updateReadCount">
  	update tbl_performance
  	set readcount = readcount + 1
  	where bno = #{bno}
  </update>
  
  <update id="updateReplyCnt">
  	update tbl_performance set replyCnt = replyCnt + #{amount} where bno = #{bno}
  </update>
  
  <insert id="insertReview" parameterType="com.project.domain.ReviewVO">
    INSERT INTO tbl_performance (
        BNO, IMG_URL, TITLE, WRITER, CONTENT, PLACE, CATEGORY, IMG_KEY
    ) VALUES (
        seq_performance.nextval, #{img}, #{title}, #{writer}, #{content}, #{place}, #{category}, #{imgKey}
    )
</insert>
  
  <select id="getList" resultType="com.project.domain.ReviewVO">
  SELECT 
    bno, 
    img_url AS img, 
    title, 
    writer, 
    readcount AS readCount, 
    regdate AS regDate, 
    updatedate AS updateDate, 
    content
  FROM tbl_performance
  ORDER BY bno DESC
</select>

<!-- 검색 조건 -->
<sql id="criteria">
  	<trim prefix="(" suffix=") and"> 
  		<foreach collection="typeArr"  item="type" 
  			separator="or">
  		<if test="type == 'T'.toString()">
  			title like  '%' || #{keyword} || '%'
  		</if> 
  		
  		<if test="type=='C'.toString()">
  			content like '%' || #{keyword} || '%'
  		</if> 

  		<if test="type=='W'.toString()">
  			writer like '%' || #{keyword} || '%'
  		</if> 
	  	</foreach>
    </trim>
  </sql>
  
  <select id="getListWithPaging" resultType="com.project.domain.ReviewVO">
   <![CDATA[
      SELECT bno, img_url AS img, title, writer, readcount AS readCount, regdate, updatedate, content
      FROM (
        SELECT /*+ INDEX_DESC(tbl_performance pk_performance) */
        ROWNUM rn, bno, img_url, title, writer, readcount, regdate, updatedate, content
  		from tbl_performance
  		where
  	]]>
  	 <include refid="criteria"></include>	
  	<![CDATA[	
	  		rownum <= #{pageNum} * #{amount}
	  	)	
	  	where rn > ( #{pageNum} - 1 ) * #{amount}
	]]>		
  </select>
  
  <select id="getTotalCount" resultType="int">
  	select count(*) from tbl_performance
  	where
  	<include refid="criteria"></include>	
  	
  	bno > 0
  	
  </select>
  
</mapper>